@import './base/var.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.wrap{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 1199px){
    .wrap{
        max-width: 1170px;
    }
}
.header{
    height: 100px;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 25px 0;
    background-color: #fff;
}
.app{
    padding-top: 100px;
    overflow: hidden;
}
.header__wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__right{
    display: flex;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    min-width: 320px;
}
p{
    font-size: 18px;
}
.nav{
    display: flex;
}
.nav__item{
    color: #979797;
    text-transform: lowercase;
    margin-left: 50px;
    display: block;
    transition: 0.3s all;
}
.nav__item:hover{
    color: #BE1F30;
}
.nav__item.active{
    color: #BE1F30;
    position: relative;
}
.nav__item.active:before{
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    width: 48px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #BE1F30;
}

.lang{
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: #BE1F30;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.lang:after{
    margin-left: 10px;
    content: "";
    display: block;
    width: 5px;
    height:5px;
    border-right: 3px solid #BE1F30;
    border-bottom: 3px solid #BE1F30;
    transform: rotate(45deg);
}
.lang__wrap{
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: translateY(100%);
}

.lang a{
    text-align: center;
    border: 1px solid #979797;
    width: 100%;
    display: block;
    padding: 5px;
    font-weight: normal;
    color: #979797;
}
@media(max-width: 991px){
    .app{
        padding-top: 55px;
    }
    .nav{
        display: none;
    }
    .burger{
        display: block;
        position: relative;
        height: 20px;
        width: 25px;
    }
    .burger span{
        height: 4px;
        width: 25px;
        display: block;
        position: absolute;
        background-color: black;
    }
    .burger span:nth-child(1){
        top:0;
    }
    .burger span:nth-child(2){
        top: 8px;
    }
    .burger span:nth-child(3){
        bottom: 0;
    }
    .burger span{
        transition: 0.3s all;
    }
    .burger.active span:nth-child(1){
        transform: rotate(45deg);
        top: 6px;
    }
    .burger.active span:nth-child(3){
        transform: rotate(-45deg);
        bottom: 10px;
    }
    .burger.active span:nth-child(2){
        transform: translateX(-50%);
        opacity: 0;
       
    }

    .lang{
        margin-right: 30px;
    }
    .header__right{
        display: flex;
        align-items: center;
    }
    .header{
        height: 55px;
        padding: 0;
        padding: 10px 0;
    }
    .logo img{
       height: 30px;
    }
    .nav{
        position: fixed;
        top: 55px;
        background: #fff;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 50px;
    }
    .nav__item{
        margin: 0;
        margin-bottom: 25px;
        font-size: 22px;
        text-align: center;
    }
    .nav__item.active:before{
        display: none;
    }
}




.main-first{
    position: relative;
    height: 600px;
    display: flex;
}
.left__sec{
    width: 50%;
    background-size: cover;
}
.right__sec{
    width: 50%;
    background-size: cover;
}
.main-first h1{
    position: absolute;
    font-size: 130px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-first h1:before{
    content: "";
    display: inline-block;
    height: 10px;
    width: 90px;
    position: absolute;
    background-color: #BE1F30;
    top: 83px;
    left: 0;
    margin-right: 30px;
}

@media(max-width: 1400px){
    .main-first h1{
        font-size: 110px;
    }
}

@media(max-width: 1199px){
    .main-first h1{
        width: 610px;
    }
    .main-first{
        height: 500px;
    }
}

@media(max-width: 767px){
    .main-first h1{
        width: 100%;
        font-size: 60px;
    }
    .main-first h1:before{
       width: 40px;
       top: 38px;
       height: 7px;
       left: auto;
       margin-left: -48px;
    }
    .main-first{
        height: 400px;
    }
    .main-first div{
        background-size: cover;
    }
}

@media(max-width: 374px){
    .main-first h1{
        font-size: 50px;
    }
    .main-first h1:before{
        top: 35px;
        height: 7px;
    }
}


.left50{
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.right50{
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-mission{
    display: flex;
    height: 300px;
}
.main-mission__title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    color: #3F3D3D;
}
p{
   color:  #747474
}
.main-mission .left50{
    border-right: 10px solid $red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.main-misiion__text{
    padding-right: 63px;
    max-width: 550px;
}

@media(max-width: 1199px){
    .main-misiion__text{
        padding-left: 15px;
        width: 100%;
    }
    
}
@media(max-width: 1023px){
    .main-misiion__text{
        margin-left: 0;
    }
    .main-mission .left50{
        align-items: flex-start;
    }
}

@media(max-width: 767px){
    
    .main-mission .left50{
        width: 100%;
        border-right: 0;
        border-bottom: 10px solid $red;
    }
    .main-mission .right50{
        display: none;
    }
    .main-misiion__text{
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 15px;
       
    }
}



.main-cifri{
    padding-top: 182px;
    padding-bottom: 182px;
    background-color: #D7D7D7;
}
.main-cifri__item{
    padding-left: 60px;
    padding-right: 60px;
}
.main-cifri__num{
    font-family: $font;
    font-weight: bold;
    font-size: 90px;
    line-height: 130%;
    white-space: nowrap;
    letter-spacing: 0.02em;
    color: #505050;
    position: relative;
}
.main-cifri__num:before{
    content: "";
    width: 30px;
    height: 5px;
    display: block;
    background-color: #BE1F30;
    position: absolute;
    top: 59px;
    left: -60px;
}
.main-cifri__num.v:before{
    background-image: url('../img/v.svg');
    background-color: transparent;
    height: 40px;
    width: 30px;
    top: 45px;
    background-size: cover;
}
.main-cifri__wrap{
    display: flex;
}
.main-cifri span{
    white-space: nowrap;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #333333;
}

.main-cifri__item{
    width: 25%;
}


@media(max-width: 1300px){
    .main-cifri__num{
        font-size: 70px;
    }
    .main-cifri__num:before{
        top: 48px;
    }
    .main-cifri__num.v:before{
        top: 31px;
    }
}

@media(max-width: 1199px){
    .main-cifri__item{
        padding: 0 35px;
    }

    .main-cifri__num:before{
        left: -40px;
    }
    .main-cifri__num{
        font-size: 60px;
    }
    .main-cifri__num:before{
        top: 39px;
    }
    .main-cifri__num.v:before{
        top: 24px;
    }
    .main-cifri{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media(max-width: 991px){
    .main-cifri__wrap{
        flex-wrap: wrap;
    }
    .main-cifri__item{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
}


@media(max-width: 559px){
    .main-cifri__item{
        width: 100%;
    }
    .main-cifri{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
}

.o-hildinge{
    display: flex;
    height: 900px;
}
.o-hildinge .right50{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.o-hildinge .left50{
    display: flex;
    align-items: flex-end;
}
.o-hildinge .left50:before{
    content: "";
    display: block;
    height: 318px;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.o-holdinge__top{
    background-color: #424242;
    flex: 1;
}
.o-holdinge__bot{
    height: 318px;
    display: flex;
    align-items: center;
    border-left: 10px solid $red;
}

.o-holdinge__text{
    padding-right: 15px;
    padding-left: 60px;
    max-width: 570px;
}
.o-holdinge__text a{
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #BE1F30;
    position: relative;
    margin-top: 40px;
    display: inline-block;
}
.o-holdinge__text a:after{
    content: "";
    display: block;
    height: 2px;
    background-color: $red;
    width: 48px;
    bottom: -5px;
    position: relative;
    margin: 0 auto;
    transition: 0.3s all;
}
.o-holdinge__text a:hover:after{
    width: 100%;
}
.h2b{
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    color: #F0F0F0;
    z-index: 1;
    position: relative;
}
.h2b:before{
    content: "";
    position: absolute;
    display: block;
    width: 291px;
    height: 219px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url('../img/h2.png');
    top: -59px;
    left: -108px;
}

.o-hildinge .h2b{
    margin-top: 150px;
    margin-left: 60px;
}

@media(max-width: 1199px){
    .o-hildinge{
        height: 700px;
    }
}
@media(max-width: 1023px){
    .o-hildinge .left50{
        display: none;
    }
    .o-hildinge .right50{
        width: 100%;
    }
    .o-holdinge__bot{
        border-left: 0;
        border-bottom: 10px solid #BE1F30;
    }
    .o-holdinge__top{
        flex: initial;
        height: auto;
        padding: 60px;
        overflow: hidden;
    }
    .o-hildinge .h2b{
        margin: 0;
    }
    .o-hildinge{
        height: auto;
    }
}



@media(max-width: 767px){
    .o-hildinge .left50{
        display: none;
    }
    .o-hildinge .right50{
        width: 100%;
    }
   
    .o-holdinge__text{
        padding-left: 15px;
    }
    .o-hildinge .h2b{
        margin-top: 0px;
        margin-left: 0;
        width: 100%;
    }
    .o-hildinge{
        height: auto;
    }
    .h2b{
        font-size: 40px;
    }
}
@media(max-width: 559px){
    .o-holdinge__top{
        padding: 50px 15px;
    }
}
.footer__wraper{
    width: 100%;
}
.footer__wraper .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #fff;
}

.footer__item{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 50px;
    transition: 0.3s all;
}
.footer__item:hover{
    transform: translateX(5px);
}
.footer__item:last-child{
    margin-bottom: 0;
}
.footer__item object{
    margin-right: 30px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
}
.footer .left50{
    width: 50%;
}
.footer .right50{
    width: 50%;
    
}
.footer__contact{
    background: #424242;
    padding-left: 63px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__text{
    background-color: #242424;
    height: 318px;
    display: flex;
    align-items: center;
    border-left: 10px solid #ffffff;
}
.footer__text__item{
    padding-right: 15px;
    padding-left: 60px;
    max-width: 570px;
}
.footer__text p{
    color: #fff;
}
.footer__text__item a{
    margin-top: 40px;
}
.red-more.grey-more{
    color: #727272;
}
.red-more.grey-more:after{
    content: "";
    display: block;
    height: 2px;
    background-color: #727272;
    width: 48px;
    bottom: -5px;
    position: relative;
    margin: 0 auto;
    transition: 0.3s all;
}
.red-more.grey-more:hover:after{
    width: 100%;
    background-color: #fff;
}
.red-more.grey-more:hover{
    color: #fff;
}
.footer__block{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 61px 15px;
    padding-right: 37px;
}
.footer__block__wrap{
    display: flex;
}
.footer__block__item{
    color: #fff;
    margin-right: 65px;
}
.footer__block__item:last-child{
    margin-right: 0;
}
.footer__total{
    margin-top: 14px;
    color: #B3B3B3;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
}
.footer__block__num{
    font-weight: bold;
    font-size: 80px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-family: $font;
}
.footer__block__num:after{
    content: "";
    display: block;
    height: 5px;
    background-color: #BE1F30;
    width: 50px;
    position: relative;
    transition: 0.3s all;
}
.footer__val{
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    font-family: $font;
}
.footer__val svg{
    margin-left: 12px;
}
.footer__copi{
    font-size: 14px;
    line-height: 18px;
    color: #3F3D3D;
}


@media(max-width: 1199px){
    .footer__block__num {
        font-size: 55px;
        margin-bottom: 10px;
    }
    .footer__val{
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .footer__total{
        font-size: 14px;
    }
    .footer__val svg{
        width: 18px;
    }
}

@media(max-width: 991px){
    .footer .left50{
        width: 100%;
    }
    .footer__block{
        justify-content: center;
    }
    .footer .right50{
        width: 100%;
    }
    .footer__text{
        border-left: 0;
        border-bottom: 10px solid #ffffff;
    }

}

@media(max-width: 559px){
    .footer__block__wrap{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer__block__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .footer__block{
        padding: 25px 15px;
    }
    .footer__block__num{
        font-size: 80px;
    }
    .footer__val{
        font-size: 30px;
    }
    .footer__total{
        font-size: 20px;
    }
    .footer__contact{
        padding: 25px 15px;
    }
    .footer__item{
        margin-bottom: 25px;
    }
    .footer__text__item{
        padding: 0 15px;
    }
}


.slider{
    display: flex;
    
}
.slider__right{
    position: relative;
}
.slider__right .slick-list{
    overflow: hidden;
}
.slick-arrow{
    position: absolute;
    top: 0;
    left: -60px;
    width: 60px;
    height: 60px;
    background-color: $red;
    border: 0;
    font-size: 0;
    transition: 0.3s all;
    cursor: pointer;
}
.slick-next {
    top: 60px;
}
.slick-prev:before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('../img/arup.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.slick-arrow.slick-disabled{
    background-color: #3F3D3D;
}
button:focus{
    outline: none;
}
.slick-next:after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('../img/ardown.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.slider__right__arrows > div{
    width: 60px;
    height: 60px;
}
.slider__right__item{
    height: 300px;
    background-size: cover!important;
    padding-left: 149px;
    padding-top: 70px;
    position: relative;
    transition: 0.5s all;
}
.slider__right__item:before{   
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #242424;
    opacity: 0;
    transition: 0.5s all;
}
.slider__right__item:hover:before{
    opacity: 1;
    z-index: 1;
}
.slider__right__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    color: #F0F0F0;
    position: relative;
    z-index: 2;
}
.slider__right__title img{
    position: absolute;
    left: -30px;
    transform: translateX(-100%);
    top: -15px;
}
.slider__right__text{
    font-size: 16px;
    position: relative;
    line-height: 140%;
    z-index: 2;
    letter-spacing: 0.02em;
    color: #E0E0E0;
    max-width: 360px;
    margin-top: 19px;
}
.slider__right__textinvisible{
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #686868;
    position: absolute;
    bottom: 25px;
    max-width: 301px;
    z-index: 2;
    opacity: 0;
    transition: 0.3s all;
}
.slider__right__item:hover .slider__right__textinvisible{
    opacity: 1;
}

.slider__right__textinvisible:before{
    content: "";
    display: block;
    background-image: url('../img/slidebefore.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: -12px;
    transform: translate(-100%, -50%);
    top: 50%;
    width: 35px;
    height: 35px;
}
.slider__right__textinvisible:after{
    content: "";
    display: block;
    background-image: url('../img/slideafter.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    transform: translate(100%, -50%);
    top: 50%;
    width: 35px;
    height: 35px;
}


.slider__leftwrap{
    height: 600px;
}
.slider .left50{
    display: flex;
    flex-direction: column;
}
.slider__arrow{
    flex: 1;
    background-color: #E9E9E9;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
    padding-right: 30px;
    align-items: flex-start;
}
.slider__arrow img{
    max-height: 410px;
}
.pokazateli{
    height: 400px;
    background-color: #424242;
    overflow: hidden;
    padding-top: 150px;
    padding-left: 60px;
}

.slider__leftwrap .h2b{
    font-size: 60px;
    line-height: 110%;
    color: #3F3D3D;
}
.slider__leftwrap .h2b:before{
    background-image: url('../img/h2bg.svg');
    top: -98px;
    left: -115px;
    height: 267px;
    width: 379px;
}

.slider__leftwrap{
    padding-top: 150px;
    position: relative;
    width: 572px;
    margin-left: auto;
}

.red-more{
    line-height: 140%;
    letter-spacing: .02em;
    color: #be1f30;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.red-more:after{
    content: "";
    display: block;
    height: 2px;
    background-color: #be1f30;
    width: 48px;
    bottom: -5px;
    position: relative;
    margin: 0 auto;
    transition: .3s all;
}
.red-more:hover:after{
    width: 100%;
}


.slider__left__item{
    width: 60px;
    height: 3px;
    background-color: #E9E9E9;
    margin-bottom: 25px;
    transition: 0.3s all;
}
.slider__left__item.active{
    width: 100%;
    background-color: $red;
    transition: 0.3s all;
}
.slider__left{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.slider__leftwrap .red-more{
    position: absolute;
    bottom: 65px;
}

@media(max-width: 1199px){
    .slider__leftwrap{
        padding-left: 15px;
        width: 100%;
    }
    .slider__right__item{
        padding-left: 120px;
    }
}


@media(max-width: 1023px){
    .slider{
        flex-direction: column;
    }
    .slider .left50{
        width: 100%;
    }
    .slider .right50{
        width: 100%;
    }

    .slider__left{
        display: none;
    }

    .slider__arrow{
        display: none;
    }
    .slider__right .slick-track{
        display: flex;
    }
    .slick-arrow{
        left: auto;
        top: -60px;
        right: 0;
        
    }
    .slider__right .slick-prev{
        right: 60px;
        transform: rotate(-90deg);
    }
    .slider__right .slick-next{
        transform: rotate(-90deg);
    }
    .slider__right__textinvisible{
        opacity: 1;
    }
    .slider__leftwrap{
        padding: 60px;
        overflow: hidden;
        height: auto;
        
    }
    .slider__leftwrap .red-more{
        position: relative;
        bottom: 0;
        margin-top: 25px;
        z-index: 2;
    }
    .pokazateli{
        height: auto;
        padding: 60px;
    }
    .pokazateli br{
        display: none;
    }
    .slider__leftwrap .h2b br{
        display: none;
    }
}

@media(max-width: 767px){
    .slider__leftwrap .h2b{
        font-size: 40px;
    }
}

@media(max-width: 559px){
    .slider__right__item{
        padding: 50px 15px;
        background-size: cover;
        height: 300px;
    }
    .slider__right__title img{
        height: 25px;
        left: 25px;
        top: 0;
    }
    .slider__right__title{
        padding-left: 40px;
    }
    .slider__right__textinvisible{
        font-size: 16px;
        padding-left: 35px;
    }
    .slider__right__textinvisible:before{
        left: 30px;
    }
    .slider__leftwrap{
        padding: 40px 15px;
        padding-bottom: 60px;
    }
    .pokazateli{
        padding: 50px 15px;
    }
}

@media(max-width: 424px){
    .slider__right__title {
        font-size: 22px
    }
    .slider__right__textinvisible{
        max-width: 85%;
    }
}
@media(max-width: 374px){
    .slider__right__textinvisible{
        max-width: 80%;
    }
}

