@import './base/var.scss';
.page-first .left50{
    background-color: #303030;
    background-size: cover;
}
.page-first .right50{
    background-size: cover;
    background-position: center;
}
.page-first {
    height: 700px;
    display: flex;
}

.page-first__left{
    padding-top: 30px;
    max-width: 570px;
    margin-left: auto;
}
.page-first__left h2{
    margin-top: 103px;
}
.page-first__left h2 span{
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    display: block;
    margin-bottom: 10px;
}
.breadcrums{
    position: relative;
    z-index: 2;
    
}
.breadcrums a{
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #7D7D7D;
}
.breadcrums a:after{
    content: "/";
    margin: 0 5px;
}
.breadcrums li{
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    color: #FAFAFA;
}
.breadcrums ul{
    display: flex;
}


.oholdinge-mision .h2b{
    font-size: 30px;
    line-height: 110%;
    color: #333333;
}
.oholdinge-mision .h2b:before{
    background-image: url(../img/h2bg.svg);
    top: -98px;
    left: -115px;
    height: 267px;
    width: 379px;
}
.oholdinge-mision .left50{
    background-color: #F1F1F1;
    overflow: hidden;
}
.oholdinge-mision__top{
    padding-top: 60px;
    width: 570px;
    flex: 50%;
    margin-left: auto;
}
.oholdinge-mision__bot{
    flex: 50%;
    background-size: cover;
}
.oholdinge-mision .left50{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.oholdinge-mision{
    display: flex;
}

.oholdinge-mision__right{
    padding-top: 130px;
    padding-left: 60px;
    max-width: 570px;
}
.oholdinge-mision__right p{
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 20px;

}
.oholdinge-mision__right a{
    margin-top: 184px;
    margin-bottom: 65px;
}




@media(max-width: 1199px){
    .page-first__left{
        padding-left: 15px;
        padding-right: 15px;
    }

    .oholdinge-mision__top{
        width: 100%;
        padding: 15px;
        padding-top: 60px;
    }
    
}

@media(max-width: 1023px){
    .oholdinge-mision .left50{
        width: 100%;
        flex: auto;
    }
    .oholdinge-mision__top{
        padding: 60px 60px;
    }
    .oholdinge-mision{
        flex-wrap: wrap;
    }
    .oholdinge-mision .right50{
        width: 100%;
    }
    .oholdinge-mision__right a{
        margin-top: 50px;
    }
    .oholdinge-mision__right{
        padding-top: 50px;
    }
    .oholdinge-mision__right{
        max-width: 100%;
        padding-right: 60px;
    }
    .page-first{
        height: 500px;
    }
    .page-first__left{
        margin-left: 0;
    }
    
}

@media(max-width: 991px){
    .page-first .right50{
        width: 100%;
        height: 500px;
    }
    .page-first .left50{
        width: 100%;
    }
    .page-first{
        height: auto;
        flex-wrap: wrap;
    }

    .page-first__left{
        padding-bottom: 60px;
    }
    .page-first__left h2{
        margin-top: 60px;
    }
}

@media(max-width: 559px){
    .page-first__left h2 span{
        font-size: 25px;
    }
    .page-first .right50{
        width: 100%;
        height: 300px;
    }
    .oholdinge-mision__top{
        padding: 40px 15px;
    }
    .oholdinge-mision__right{
        padding: 25px 15px;
    }
    .oholdinge-mision__right p{
        font-size: 16px;
    }
}


.ruk-text{
    height: 450px;
    background: #F1F1F1;
    display: flex;
    align-items: center;
}
.ruk-text p{
    max-width: 906px;
    position: relative;
    font-size: 20px;
    line-height: 140%;
    /* or 28px */

    letter-spacing: 0.02em;
}
.ruk-text p:before{
    content: "";
    width: 30px;
    height: 5px;
    display: block;
    background-color: #be1f30;
    position: absolute;
    top: 11px;
    left: -60px;
}
@media(max-width: 1300px){
    .ruk-text p{
        margin-left: 60px;
    }
}

@media(max-width: 500px){
    .ruk-text p:before{
        display: none;
    }
    .ruk-text p{
        margin-left: 0;
        font-size: 16px;
    }
    .ruk-text{
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
}

.ruk-foto{
    display: flex;
    flex-wrap: wrap;
}
.ruk-foto__item{
    position: relative;
    width: calc(100% / 3);
    background-size: cover;
    height: 635px;
    background-position: center;
    filter: grayscale(100%); 
    transition: 0.3s all;
    overflow: hidden;
}
.ruk-foto__item:hover{
    filter: grayscale(0%); 
}
.ruk-foto__text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    color: #fff;
    background-color: rgba($color: #000000, $alpha: 0.05);
    box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.05);
    opacity: 0;
    transition: 0.3s all;
}
.ruk-foto__item:hover .ruk-foto__text{
    opacity: 1;
}
.ruk-foto__name{
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    margin-bottom: 10px;
}
.ruk-foto__text2{
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    letter-spacing: 0.02em;
}

@media(max-width: 1199px){
    .ruk-foto__item{
        height: 400px;
    }
    .ruk-foto__text{
        padding: 20px;
    }
    .ruk-foto__name{
        font-size: 26px;
    }
}

@media(max-width: 1023px){
    .ruk-foto__item{
        width: 50%;
        height: 500px;
        filter: grayscale(0%); 
    }
    .ruk-foto__text{
        opacity: 1;
    }
   
}
@media(max-width: 991px){
    .ruk-foto__item{
        height: 400px;
    }
}

@media(max-width: 767px){
    .ruk-foto__item{
        height: 300px;
    }
}

@media(max-width: 559px){
    .ruk-foto__item{
        width: 100%;
        height: 400px;
    }
}


///активы
.text-info{
    background-image: url('../img/active.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 60px 0;
}

.text__wraper{
    max-width: 780px;
}
.text-info p{
    margin-bottom: 20px;
}
.text-info p:first-child{
    position: relative;
}
.text-info p:first-child:before{
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url('../img/h2bg.svg');
    top: -98px;
    left: -115px;
    height: 267px;
    width: 379px;
}
.selectric .button:after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-image: url(../img/arup.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    transform: rotate(180deg);
}
.selectric .button{
    background-color: #3F3D3D;
    height: 64px;
    width: 64px;
    top: -2px;
    right: -64px;
    transition: 0.3s all;
}
.selectric .label{
    height: 60px;
    font-size: 20px;
    line-height:270%;
    /* identical to box height, or 28px */
    
    letter-spacing: 0.02em;

    color: #000000;
}
.selectric{
    overflow: visible;
    border: 2px solid #000000;
    background-color: #fff;
}
.selectric-hover .selectric{
    border: 2px solid #000000;
   
}
.selectric-focus .selectric{
    border: 2px solid #000000;
}



.selectric-open .selectric{
    border: 2px solid #000000;
    border-bottom: 0;
}
.selectric-above.selectric-open .selectric{
    border-top: 0;
    border-bottom: 2px solid #000000;
}

.selectric-items{
    border: 2px solid #000000;
    border-top: 0;
    top: 98%;
    background-color:#fff;
    box-shadow: none;
    opacity: 0;
    transition: 0.3s all;
}
.selectric-items:before{
    content: "";
    width: 80%;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: #E9E9E9;
}
.selectric-above.selectric-open .selectric-items:before{
    display: none;
}
.selectric-above.selectric-open .selectric-items:after{
    content: "";
    width: 80%;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: #E9E9E9;
}
.selectric-open .selectric-items{
    opacity: 1;
}
.selectric-above .selectric-items{
    border-top: 2px solid #000000;
    border-bottom: 0;
    bottom: 98%;
}
.selectric-open .selectric .button{
    background-color: $red;
}
.selectric-open .selectric .button:after{
    transform: rotate(0);
}
.select__wrap{
    display: flex;
    margin-right: 21px;
    margin-top: 60px;
}
.select__wrap .selectric-wrapper{
    width: 50%;
    padding-right: 64px;
    max-width: 50%;
    min-width: 50%;
    margin-right: 21px;
}
.selectric-items li{
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    letter-spacing: 0.02em;

    color: #6B6B6B;
}
.selectric-items li:hover{
    background-color: #fff;
    color: inherit;
    transition: 0.3s all;
}
.selectric-items li.highlighted{
    background-color: #fff;
    color: inherit
}


@media(max-width: 767px){
    .select__wrap{
        flex-wrap: wrap;
        margin-right: 0;
    }
    .select__wrap .selectric-wrapper{
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
        max-width: 100%;
    }
    .text-info p{
        font-size: 18px;
    }
}
.active-com{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F1F1F1;
}
.active-com__wraper{
    display: flex;
    flex-wrap: wrap;
}
.active-com__item{
    display: block;
    width: calc(100% / 3 - 40px);
    margin: 20px;
    padding: 50px 35px;
    background-color: #fff;
    transition: 0.3s all;
}
.active-com__item:hover{
    box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.2);
}
.active-com__img{
    height: 132px;
}
.active-com__img:after{
    content: "";
    display: block;
    height: 5px;
    background-color: $red;
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}
.active-com__img img{
    max-width: 100%;
    max-height: calc(100% - 30px);
    margin: 0 auto;
    display: block;
}
.active-com__name{
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */

    text-align: center;

    color: #333333;
}
.active-com__wraper{
    margin: 0 -20px;
}
@media(max-width: 1199px){
    .active-com__name{
        font-size: 24px;
    }
}

@media(max-width: 1023px){
    .active-com__item{
        width: calc(100% / 2 - 30px);
        margin: 15px;
    }
    .active-com__wraper{
        margin: 0 -15px;
    }
}

@media(max-width: 767px){
    .active-com__img{
        height: 90px;
    }
    .active-com__name{
        font-size: 18px;
    }
    .active-com__item{
        margin: 6px;
        width: calc(100% / 2 - 12px);
        padding: 30px 6px;
    }
    .active-com__wraper{
        margin: 0 -6px;
    }
    .active-com__img:after{
        width: 100px;
    }
}

@media(max-width: 424px){
    .active-com__img{
        height: 75px;
    }
    .active-com__name{
        font-size: 16px;
    }
}

@media(max-width: 374px){
    .active-com__item{
        width: 100%;
        padding: 20px;
    }
    .active-com__name{
        font-size: 18px;
    }
}

//нот фоунд
.notfound .h2b span{
    margin-top: 20px;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    font-weight: 400;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.notfound .page-first__left{
    position: relative;
    height: 100%;
}
.notfound .red-more{
    position: absolute;
    bottom: 65px;
    left: 0
}

.notfound .right50 span{
    font-weight: bold;
    font-size: 300px;
    line-height: 130%;
    /* identical to box height, or 390px */

    letter-spacing: 0.02em;

    color: #333333;
    margin-top: 105px;
    margin-left: 98px;
    display: block;
}

@media(max-width: 1300px){
    .notfound .right50 span{
        font-size: 250px;
        margin-left: 60px;
    }
}

@media(max-width: 991px){
    .notfound .red-more{
        position: relative;
        margin-top: 50px;
        bottom: 0;
    }
}

@media(max-width: 767px){
    .notfound .right50 span{
        margin-top: 0;
        margin-left: 15px;
        font-size: 220px;       
    }

    .notfound .page-first .right50{
        height: auto;
    }
    
}

@media(max-width: 424px){
    .notfound .right50 span{
        font-size: 51vw;
    }
    
}


//о компании

.o-comp .page-first__left{
    position: relative;
    height: 100%;
}

.o-comp-text{
    position: absolute;
    left: 0;
    bottom: 65px;
    font-size: 20px;
    line-height: 140%;
    /* or 28px */

    letter-spacing: 0.02em;
    max-width: 370px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
}

.o-comp-text:before {
    content: "";
    display: block;
    background-image: url(../img/slidebefore.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    transform: translateY(-50%);
    top: 50%;
    width: 35px;
    height: 35px;
}
.o-comp-text:after {
    content: "";
    display: block;
    background-image: url(../img/slideafter.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 35px;
    height: 35px;

}

@media(max-width: 991px){
    .o-comp-text{
        position: relative;
        bottom: auto;
        display: block;
        margin-top: 50px;
    }
}

@media(max-width: 424px){
    .o-comp-text{
        font-size: 18px;
    }
}

.o-comp-prod .h2b:before{
    background-image: url('../img/h2w.png');
    top: -98px;
    left: -115px;
    height: 267px;
    width: 379px;
}
.o-comp-prod .h2b{
    color: #3F3D3D;
}
.o-comp-prod{
    padding-top: 150px;
    padding-bottom: 25px;
    background-color: #F1F1F1;
}
.o-comp-prod__wraper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 62px;
}

.o-comp-prod__item{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;   
    margin-bottom: 40px;
}

.o-comp__img{
    height: 367px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.o-comp__name{
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    /* identical to box height, or 33px */
    color: #333333;
    margin-bottom: 10px;
}
.o-comp__text{
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    letter-spacing: 0.02em;
    color: #747474;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media(max-width: 1199px){
    .o-comp__img{
        height: 300px;
    }
}
@media(max-width: 991px){
    .o-comp-prod__item{
        width: calc(100% / 2 - 20px);
    }
}
@media(max-width: 767px){
    .o-comp__img{
        height: 250px;
    }
    .o-comp__name{
        font-size: 25px;
    }
    .o-comp__text{
        font-size: 17px;
    }
    .o-comp-prod{
        padding-top: 100px;
    }
}

@media(max-width: 559px){
    .o-comp-prod__item{
        width: 100%;
        margin-bottom: 50px;
    }
    .o-comp__img{
        height: 300px;
    }
    .o-comp-prod .h2b{
        font-size: 30px;
    }
    .o-comp-prod{
        padding-top: 50px;
    }
}
@media(max-width: 424px){
    .o-comp__img{
        height: 250px;
    }
    
}
