@import './base/var.scss';
.contact2 .h2b span{
    margin-top: 20px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: .02em;
    color: #fff;
}
.contact_confirm{
    display: none;
}

.contact__form form{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-left: 60px;
}
.contact__form__wrap{
    max-width: 450px;
    padding-top: 120px;
}
.contact__item{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.contact__item input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #E0E0E0;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    letter-spacing: 0.02em;
    height: 63px;
    color: #333333;
    padding: 20px;
    padding-left: 25px;
}
.contact__item:after{
    content: "";
    background-image: url('../img/input.png');
    width: 12px;
    height: 12px;
    background-size: cover;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.contact__item input::placeholder{
    color: #B3B3B3;
}
.contact__item input.error{
    border-bottom: 1px solid #BE1F30;
    color: #BE1F30;
}
.contact__item input.error::placeholder{
    color: #BE1F30; 
}
.contact__form textarea{
    font-family: 'PT Sans';
    margin-top: 15px;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    letter-spacing: 0.02em;
    color: #333333;
    width: 100%;
    height: 130px;
    padding: 20px;
    padding-left: 25px;
    resize: none;
    border: 2px solid #E0E0E0;
    background-color: transparent;
}
.contact__form textarea::placeholder{
    color: #B3B3B3;
}
.contact__form textarea:focus{
    outline: none;
}
input:focus{
    outline: none;
}
.ckeckbox{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.ckeckbox input{
    opacity: 0;
    position: absolute;
    height: 0;
}
label.error{
    display: none!important;
}
.ckeckbox label{
    margin-right: 15px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #E0E0E0;
    position: relative;
}
.ckeckbox input:checked + label:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 11px;
    background-repeat: no-repeat;
    background-image: url('../img/v2.svg');
}
input.error + label{
    border: 1px solid #BE1F30;
}
.ckeckbox__text{
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    letter-spacing: 0.02em;
    color: #333333;
}

.ckeckbox__text a{
    color: $red;
    transition: 0.3s all;
}
.ckeckbox__text a:hover{
    text-decoration: underline;
}

.contact__form__btn{
    margin-top: 25px;
    width: 270px;
    height: 60px;
    background-color: #BE1F30;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    letter-spacing: 0.02em;
    color: #FFFFFF;
    transition: 0.3s all;
}
.contact__form__btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.contact2 .red-more {
    position: absolute;
    bottom: 65px;
    left: 0;
}
.contact2 .page-first__left{
    position: relative;
    height: 100%;
}
.red-more.white-more{
    color: #fff;
}
.red-more.white-more:after{
    background-color: #fff;
}

@media(max-width: 1199px){
    .contact__form__wrap{
        max-width: 400px;
    }
    .ckeckbox__text a{
        display: block;
        text-decoration: underline;
    }
    .contact2 .red-more{
        left: 15px;
    }
}

@media(max-width: 991px){
    .contact2 .red-more{
        position: relative;
        bottom: auto;
        left: 0;
        margin-top: 50px;
        display: inline-block !important;
    }
    .contact__form__wrap{
        padding-top: 20px;
        padding-bottom: 20px;
        margin:  0 auto;
    }
    .contact__form form{
        padding: 15px;
    }
    .contact2 .contact__form {
        height: auto;
    }
    .contact .right50{
        display: none;
    }
    .contact__form__btn{
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media(max-width: 767px){
    .ckeckbox__text{
        font-size: 17px;
    }
    .contact__item input{
        font-size: 17px;
        padding: 15px;
    }
    .contact__form textarea{
        font-size: 17px;
        padding: 15px;
    }
}

.contact__place{
    display: flex;
    
}
.contact__place .left50{
    border-right: 10px solid #BE1F30;
}
.contact__place__item img{
    width: 40px;
    margin-right: 30px;
} 
.contact__place__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 63px;
}
.contact__place__item span{
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    letter-spacing: 0.02em;
    color: #333333;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}
.contact__place__wrap{
    max-width: 450px;
    margin-left: auto;
    padding-top: 111px;
}
.contact__place__item a{
    font-size: 30px;
    line-height: 110%;
    color: #505050;
    font-weight: bold;
    
}
.contact__place__item a:hover{
    color: #303030;
}
#contact__map{
    height: 600px;
    position: relative;
    overflow: hidden;
}
#contact__map iframe{
    height: 100%;
    width: 100%;
}
@media(max-width: 1199px){
    .contact {
        height: 500px;
    }
}
@media(max-width: 1023px){
    .contact{
        height: auto;
    }
    .contact__place{
        flex-direction: column;
    }
    .contact__place .left50{
        width: 100%;
        border-right: 0;
        border-bottom: 10px solid #be1f30;
    }
    .contact__place__wrap{
        max-width: 100%;
        padding: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contact__place__item:last-child{
        margin-bottom: 0;
    }
    .contact__place .right50{
        width: 100%;
    }
    
}

@media(max-width: 559px){
    .contact__place__item a{
        font-size: 25px;
    }
    #contact__map{
        height: 400px;
    }
}

@media(max-width: 374px){
    .contact__place__item img{
        margin-right: 15px;
    }
    .contact__place__item a{
        font-size: 22px;
    }
    .contact__place__item span{
        font-size: 17px;
        margin-bottom: 5px;
    }
}


.info__top{
    padding-top: 150px;
    background-color: #F1F1F1;
    padding-bottom: 100px;
    overflow: hidden;
}
.info__pok .left50{
    border-right: 10px solid #fff;
}
.info .h2b{
    color: #3F3D3D;
}
.info__pok__wrap{
    display: flex;
}
@media(max-width: 991px){
    .info__pok__wrap{
        flex-direction: column;
    }
    .info__pok__wrap .left50{
        width: 100%;
    }
    .info__pok .left50{
        border-right: 0;
        
    }
    .info__top{
        padding-top: 100px;
    }
}
@media(max-width: 767px){
    .info__top{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .info .h2b{
        font-size: 35px;
    }
}


.h2b.grey{
    color: #3F3D3D;
}
.h2b.grey:before{
    background-image: url(../img/h2bg.svg);
    top: -98px;
    left: -115px;
    height: 267px;
    width: 379px;
}

.info__slider{
    padding-top: 150px;
    border-bottom: 5px solid #FAFAFA;
}
.info__slider h2{
    margin-bottom: 56px;
}
.info__slider__num{
    font-family: $font;
    font-weight: bold;
    font-size: 90px;
    line-height: 130%;
    /* identical to box height, or 117px */
    letter-spacing: 0.02em;
    color: #505050;
    position: relative;
}
.info__slider__num:before{
    content:"";
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 5px;
    background-color: #be1f30;
}
.info__slider__item{
    padding-top: 5px;
    padding-bottom: 60px;
    margin-right: 119px;
    position: relative;
    width: max-content;
    cursor: pointer;
}
// .info__slider__wraper{
//     display: flex;
//     position: relative;
// }

// .info__slider .slick-track{
//     display: flex;
// }

.info__slider .slick-next{
    right: 0;
    transform: rotate(-90deg);
}
.info__slider .slick-prev{
    right:60px;
    transform: rotate(-90deg);
}
.info__slider  .slick-arrow{
    left: auto;
    top: -105px;
    z-index: 2;
}
.info__slider .slick-slide{
    opacity: 0.2;
    transition: 0.5s all;
}
.info__slider .slick-active{
    opacity: .5;
}
.info__slider .slick-current{
    opacity: 1;
}
.info__slider .slick-slide:hover{
    opacity: 1;
}
.info__slider .slick-list{
    overflow: visible;
}
.info__slider__item:before{
    content:"";
    display: block;
    width:0%;
    height: 5px;
    background-color: #be1f30;
    position: absolute;
    bottom: -5px;
    left: -10%;
    transition: 0.3s all;
}
.info__slider .slick-slide:hover .info__slider__item:before{
    width: 120%;
}
body.h{
    overflow: hidden;
}
.modal{
    transition: 0.3s all;
    opacity: 0;
    transform: translateX(-150%);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    overflow: auto;
    background-color: rgba(21, 21, 21, 0.8);
}
.modal.active{
    opacity: 1;
    
    transform: translateX(0);
}

.modal .contact2 .page-first__left{
    padding-left: 60px;
}
.modal .page-first{
    height: 560px;
}

.modal .page-first__left h2{
    margin-top: 25px;
}

.modal  .contact__form__wrap{
    padding-top: 60px;
}

.modal .contact2 .red-more{
    left: 60px;
}

.modal .contact2{
    overflow: hidden;
    position: relative;
} 
.contact-close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s all;
    z-index: 2;
}
.contact-close:hover{
    transform: scale(1.1);
}
.contact-close span{
    top: 12px;
    left: 5px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #be1f30;
    position: absolute;
    transform: rotate(45deg);
}
.modal.submite .contact-close span{
    background-color: #fff;
}
.contact-close span:last-child{
    transform: rotate(-45deg);
    top: 12px;
    left: 5px;
}
@media(max-width: 1199px){
    .modal{
        align-items: flex-start;
    }
}
@media(max-height: 600px){
    .modal{
        align-items: flex-start;
    }
}
@media(max-width: 991px){
    .modal .page-first{
        height: auto;
    }
    .modal .contact2 .red-more{
        left: 15px;
        opacity: 0;
        height: 0;
        margin: 0;
    }
    .modal.submite{
        align-items: center;
    }
    .contact-close span{
        background-color: #fff;
    }
}
@media(max-width: 767px){
    .modal .wrap{
        padding-right: 0;
        padding-left: 0;
    }
    .modal .contact2 .page-first__left{
        padding-left: 15px;
    }
    .modal .contact__form__wrap{
        padding-top: 50px;
    }
}


@media(max-width: 1023px){
   
    .info__slider .slick-slide{
        opacity: 1;
    }
    .info__slider__item{
        margin-right: 90px;
    }

    .info__slider{
        padding-top: 75px;
        overflow: hidden;
    }
}

@media(max-width: 559px){
    .info__slider__num{
        font-size: 70px;
    }
    .info__slider .slick-arrow{
        top: -90px;
    }
    .info__slider h2{
        margin-bottom: 140px;
    }
    .info__slider{
        padding-top: 50px;
    }
}
@media(max-width: 424px){
    .info__slider__item{
        margin-right: 75px;
    }
}
@media(max-width: 374px){
    .info__slider__item{
        margin-right: 40px;
    }
    .info__slider__num{
        font-size: 65px;
    }
}



.info-data{
    padding-top: 150px;
    overflow: hidden;
    padding-bottom: 20px;
}

.info-data__wraper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
    z-index: 2;
    margin-right: -20px;
}

.info-data__item{
    display: flex;
    margin-right: 20px;
    width: calc(100% / 2 - 20px);
    padding: 41px 50px;
    transition: 0.3s all;
    margin-bottom: 40px;
}
.info-data__item:hover{
    box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.2);
}
.info-data__item img{
    height: 68px;
    max-width: 91px;
    object-fit: contain;
}
.info-data__item div{
    font-family: Alegreya Sans SC;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    /* or 33px */
    color: #333333;
    position: relative;
    margin-left: 50px;
}
.info-data__item div:before{
    content: "";
    width: 150px;
    display: block;
    height: 5px;
    background-color: #be1f30;
    margin-bottom: 9px;
}


@media(max-width: 1199px){
    .info-data__item div{
        font-size: 25px;
        margin-left: 25px;
    }
    .info-data__item {
        box-shadow: 0 0 30px rgba(51,51,51,.2);
        background-color: #fff;
    }
}

@media(max-width: 991px){
    .info-data__item{
        padding: 30px 20px;
        
    }
    .info-data{
        padding-top: 100px;   
    }
}

@media(max-width: 767px){
    .info-data__item{
        width: 100%;
        margin-right: 0;
        max-width: 400px;
        padding: 40px 20px;
        flex-direction: column;
    }
    .info-data__item img{
        margin:  0 auto;
        display: block;
        max-width: 100%;
        height: 50px;
        margin-bottom: 25px;
    }
    .info-data__wraper{
        margin-right: 0;
        justify-content: center;
    }
    .info-data__item div{
        text-align: center;
        margin-left: 0;
    }
    .info-data__item div:before{
        margin: 0 auto;
        margin-bottom: 25px;
    }

}

@media(max-width: 424px){
    .info-data h2{
        font-size: 35px;
    }
}
